In [8]:
import pandas as pd

tabela = pd.read_csv('exportacoes_franca.csv')
display(tabela)

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",Europe,79360,14150
1,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),79360,14150
2,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",Europe,69412,9385
3,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),69412,9385
4,2016,1,France,Alfenas - MG,901,"Coffee, whether or not roasted or decaffeinate...",9,"Coffee, tea, maté and spices",Europe,180914,57600
...,...,...,...,...,...,...,...,...,...,...,...
142355,2020,12,France,Vinhedo - SP,8424,Mechanical appliances (whether or not hand-ope...,84,"Nuclear reactors, boilers, machinery and mecha...",European Union (EU),2316,4
142356,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,Europe,27060,26400
142357,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,European Union (EU),27060,26400
142358,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,31111,23045
142359,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,European Union (EU),31111,23045

### Como foi a evolução das exportações para a frança ao longo dos anos?

In [3]:
tabela_anos_expo = tabela[['Year', 'US$ FOB']].groupby("Year").sum()

def format_valor(valor):
    valor_formatado = "US$ {:,.2f}".format(valor)
    return valor_formatado

tabela_anos_expo['US$ FOB'] = tabela_anos_expo['US$ FOB'].apply(format_valor)
display((tabela_anos_expo))

                   US$ FOB
Year
2016  US$ 4,615,500,082.00
2017  US$ 4,448,705,456.00
2018  US$ 5,239,424,416.00
2019  US$ 5,218,723,612.00
2020  US$ 3,967,594,810.00

### Quais os produtos mais exportados ao longo de todo o período?

In [9]:
tabela_produtos = tabela[['SH2 Description', 'US$ FOB']].groupby('SH2 Description').sum()
tabela_produtos= tabela_produtos.sort_values(by='US$ FOB',ascending=False)

tabela_produtos['US$ FOB'] = tabela_produtos['US$ FOB'].apply(format_valor)

display(tabela_produtos[:])

                                                                 US$ FOB
SH2 Description
Residues and waste from the food industries; ot...  US$ 5,641,498,484.00
Ores, slag and ash                                  US$ 3,404,353,274.00
Nuclear reactors, boilers, machinery and mechan...  US$ 1,889,781,694.00
Pulp of wood or of other fibrous cellulosic mat...  US$ 1,855,424,642.00
Aircraft, spacecraft, and parts thereof             US$ 1,253,007,710.00
...                                                                  ...
Umbrellas, sun umbrellas, walking-sticks, seat-...         US$ 18,872.00
Cork and articles of cork                                  US$ 10,974.00
Wool, fine or coarse animal hair; horsehair yar...          US$ 2,540.00
Tin and articles thereof                                    US$ 2,460.00
Photographic or cinematographic goods                         US$ 148.00

[97 rows x 1 columns]

### Em 2020 qual cidade mais exportou para a França?
Em valores US$

In [6]:
tabela_2020 = tabela.loc[tabela['Year']==2020, :]

tabela_2020 = tabela_2020[['City', 'US$ FOB']].groupby('City').sum()
tabela_2020 = tabela_2020.sort_values(by='US$ FOB', ascending=False)

tabela_2020['US$ FOB'] = tabela_2020['US$ FOB'].apply(format_valor)
display(tabela_2020)

                                        US$ FOB
City
Duque de Caxias - RJ         US$ 279,405,596.00
Luís Eduardo Magalhães - BA  US$ 265,328,132.00
Ponta Grossa - PR            US$ 187,777,016.00
São José dos Campos - SP     US$ 172,939,276.00
Rio de Janeiro - RJ          US$ 122,522,214.00
...                                         ...
Não-Me-Toque - RS                     US$ 42.00
Cubatão - SP                          US$ 40.00
Holambra - SP                         US$ 10.00
São Sebastião do Caí - RS              US$ 6.00
Quatro Pontes - PR                     US$ 0.00

[648 rows x 1 columns]

### Quais os produtos mais exportados (em US$) que as 2 maiores cidades (em exportação em 2020) exportaram?

In [16]:
tabela_duque = tabela.loc[tabela['Year']==2020]
tabela_duque = tabela_duque.loc[tabela_duque['City'] =='Duque de Caxias - RJ']
tabela_duque = tabela_duque[['SH2 Description', 'US$ FOB']].groupby('SH2 Description').sum(numeric_only=True)
tabela_duque = tabela_duque.sort_values(by='US$ FOB', ascending=False)

tabela_lem = tabela.loc[tabela['Year']==2020]
tabela_lem = tabela_lem.loc[tabela_lem['City']=='Luís Eduardo Magalhães - BA']
tabela_lem = tabela_lem[['SH2 Description', 'US$ FOB']].groupby('SH2 Description').sum(numeric_only=True)
tabela_lem = tabela_lem.sort_values(by='US$ FOB', ascending=False)

tabela_duque['US$ FOB'] = tabela_duque['US$ FOB'].apply(format_valor)
tabela_lem['US$ FOB'] = tabela_lem['US$ FOB'].apply(format_valor)
print("\t\t\t\tDUQUE DE CAXIAS (RJ)")
display(tabela_duque)
print("\t\t\t\t LUÍS EDUARDO MAGALHÃES (BA)")
display(tabela_lem)

				DUQUE DE CAXIAS (RJ)

                                                               US$ FOB
SH2 Description
Nuclear reactors, boilers, machinery and mechan...  US$ 185,816,982.00
Mineral fuels, mineral oils, bituminous substan...   US$ 67,355,688.00
Articles of iron or steel                             US$ 9,118,714.00
Residues and waste from the food industries; ot...    US$ 4,014,274.00
Optical, photographic, cinematographic instrume...    US$ 3,013,092.00
Nickel and articles thereof                           US$ 2,951,286.00
Electrical machinery and equipment and parts th...    US$ 2,595,048.00
Lead and articles thereof                             US$ 1,660,180.00
Rubber and articles thereof                           US$ 1,379,296.00
Organic chemicals                                       US$ 535,136.00
Vehicles other than railway or tramway rolling-...      US$ 353,958.00
Plastics and articles thereof                           US$ 228,638.00
Aluminium and articles thereof                          US$ 168,522.00
Copper and articles thereof                             US$ 138,466.00
Tools, implements, cutlery, spoons and forks, o...       US$ 33,864.00
Articles of stone, plaster, cement, asbestos, m...       US$ 16,856.00
Miscellaneous chemical products                          US$ 11,984.00
Glass and glassware                                       US$ 8,430.00
Railway or tramway locomotives, rolling-stock a...        US$ 3,666.00
Paper and paperboard; articles of paper pulp, o...        US$ 1,516.00

				 LUÍS EDUARDO MAGALHÃES (BA)

                                                               US$ FOB
SH2 Description
Residues and waste from the food industries; ot...  US$ 265,299,808.00
Edible fruit and nuts; peel of citrus fruits or...       US$ 28,324.00